# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# remove dependency libraries
vendor/*

# remove the executable
quebroker

# ignore the "broker.id" file as well (generate for the 1st time and re-use)
broker.id
